* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-4x4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto); }

.cell {
  height: 100%; }

/* ---------------------------------------------- */
main {
  height: 100vh; }
  main .main-row {
    height: 100%;
    display: flex; }
    main .main-row .main-col {
      width: calc(100% / 3); }
    @media screen and (max-width: 200px) {
      main .main-row {
        flex-wrap: wrap; }
        main .main-row .main-col {
          width: 100%; } }
  main #first-col {
    display: flex;
    flex-direction: column; }
  main #second-col .grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto); }
  main #third-col .grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto); }
    @media screen and (max-width: 1200px) {
      main #third-col .grid {
        grid-template-columns: repeat(3, auto); }
        main #third-col .grid .cell:last-child {
          grid-column: 1 / span 3; } }
