@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-4x4 {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.cell {
  height: 100%;
}

/* ---------------------------------------------- */

main {
  height: 100vh;

  .main-row {
    height: 100%;
    display: flex;

    .main-col {
      width: calc(100% / 3);
    }

    @media screen and (max-width: $breakpoint-sm) {
      flex-wrap: wrap;

      .main-col {
        width: 100%;
      }
    }
  }

  #first-col {
    .cell {
      height: 20%;
    }
  }

  #second-col {
    .grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
  }

  #third-col {
    .grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(5, auto);

      @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, auto);

        .cell:last-child {
          grid-column: 1 / span 3;
        }
      }
    }
  }
}